In [ ]:
import pandas as pd
matches_df = pd.read_csv("../data/matches.csv")
deliveries_df = pd.read_csv("../data/deliveries.csv")
deliveries_df.rename(columns={"match_id":"id"},inplace=True)

df = matches_df[["id","season"]].merge(deliveries_df,on="id",how="right")
df

In [7]:
# filtering rows based on the season and columns required
season_wise_df = df.loc[df["season"]==2016,["bowler","batsman_runs"]]

In [ ]:
# grouping the deilveries by bowler

bowler_stats= season_wise_df.groupby("bowler")["batsman_runs"].mean().reset_index()
bowler_stats.rename(columns={"batsman_runs":"economy"}, inplace=True).sort_values(by="economy").reset_index().head(10)

   index         bowler   economy
0     65         N Rana  0.500000
1     62       MR Marsh  0.800000
2     93    Sachin Baby  0.800000
3    103      YK Pathan  0.815789
4     45    JW Hastings  0.833333
5     16       CH Gayle  0.876923
6     83        S Gopal  1.000000
7     56        M Vijay  1.000000
8      3        A Zampa  1.067961
9     79  R Vinay Kumar  1.070175